*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.list-item{
    margin-left: 1.5rem;
}

.active,
.learn-more{
    color:  rgba(0, 101, 254, 1);
    
}

.nav-list .list-item,
.nav-login .login-item{
    list-style-type: none;
}

.nav-login{
    display: flex;
    align-items: center;
    margin-top: .8rem;
}

.login-item{
    margin-right: 1rem;
}

.btn{
    width: 8rem;
    height: 2.8rem;
    background-color: rgba(0, 101, 254, 1);
    color: #ffff;
    border-radius: 100px;
    border:  rgba(0, 101, 254, 1) ;
    outline: none;
    
}


.headings{
    width: 948px;
    height: 313px;
    gap: 8rem;
    padding-left: 12rem;
    padding-top: 1rem;
}

.optimize
{
    font-size: 2rem;
    line-height: 80px;
    text-align: center;
    /* height: 200px; */
    margin: 0;
    padding: 0;
    
}

.url{
    color: rgba(0, 90, 226, 1);
}

.url-img{
    width: 174px;
    position: relative;
    top: -30px;
    left: 280px;
    /* top: 235px;
    left: 460px; */
}

.hero-para{
    
    width:781px ;
    height: 108px;
    color: rgba(20, 20, 20, 1);
    text-align: center;
    line-height: 28px;
}



.signup{
  display: flex;
  align-items: center;
  margin-left: 14rem;
}

.learn-more{
    margin-left: 2rem;
}

.box-url{
    width:500px ; 
    height:8rem ;
    /* color: rgba(254, 254, 254, 0.1); */
    border:  1px solid  rgba(0, 90, 226, 1)  ;
    margin-left: 20rem;
    margin-top: 4rem;
    padding-left: 3rem;
    background-color:rgba(254, 254, 254, 0.1) ;  
    font-size: .9rem;
  

}

.box-para{
    padding-left: 5rem;
    text-align: center;
}

.box-span{
    font-weight: 700;
}

.gradient{
    padding-left: 14rem;
    margin-top: 1em;
}

.number-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 2rem;
}

.one-stop{
    font-size: 40px;
    line-height: 48px;
    color: rgba(20, 20, 20, 1) ;
    height: 96px;
}

.number-section p{
    font-size: .8rem;
    line-height: 24px;
    height: 52px;
    width:123px ;
}
.scissors{
    width: 398px;
    height: 256px;
    gap: 16px;
    margin-left: 5rem;
    margin-top: 6rem;
}

.scissors h4{
    font-size: 40px;
    line-height: 32px;
}

.scissors p{
    font-size: .8rem;
    line-height: 28px;
    margin-left: 2rem;
    margin-top: .9rem;
}

.main-container{
    display:flex ;
    
    /* flex-wrap: wrap; */
}

.scissors-section{
    display: flex;  
     flex-wrap: row wrap;
    width: 708px; 
    height: 504px;
    margin-left: 5rem;
    margin-top: 6rem;
 
}

.url-details{
    width: 304px;
     height: 220px; 
    gap: 40px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.price{
    text-align: center;
    width: 480px ;
    height: 108px;
    margin-left: 25rem;
    
    
}

.price h4{
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: .2rem;
   
}

.price p{
    font-size: .8rem;
    text-align: center;
}

.card-container{
    width: 1088px;
    height: 627px;
    display: flex;
    margin-left: 10rem;
    
}

.basic-info{
    width: 340px;
    height: 380px;
    border: 1px solid rgba(0, 90, 226, 1) ;
    padding-left: 2rem;
    margin-top: 3rem;
}

.basic-list{
    list-style: none;
    width: 198px;
    height: 320px ;
    gap: 16px;
    font-size: .8rem;
    line-height: 24px; 
    margin: 1rem;
}

 .basic-item i {
    margin-bottom: 1.8rem;
    color: rgba(0, 90, 226, 1);
    
}

.basic-item{
    margin-bottom: .5rem;
}

.basic-info p{
   font-size: .9rem;
   padding-left: 2rem;
 
}

.basic-info h3{
    font-size: 1.4rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.basic-info h4{
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.basic-info.professional{
    background: #1E3448 ; 
    width: 410px ;
    height: 520px;
    color: #fff;
    border-radius: 2rem;
    margin-top: -1rem;
}

.basic-info.basic-info.professional h4{
    margin-top: 4.5rem;
}
.basic-info.basic-info.professional i{
    color: #fff;
}

.price-buttons{
     margin-left: 30rem;
}
.price-buttons button{
    margin-left: 4rem;
    
    
}
.pricing{    
    width: 10rem;
    background: #fff;
    color: rgba(0, 101, 254, 1);
    border: .5px solid rgba(0, 101, 254, 1);
    border-radius: 1.5rem;
}

.select-pricing{
    border-radius: 1.5rem;
    width: 10rem;
}


.trim-container{
    margin-top: 2rem;
    width: 100%;
    height: 370px;
    background: linear-gradient(180deg, #1E3448 99.99%,
     rgba(30, 52, 72, 0) 100%);
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.input-container{
    width:460px ;
    height: 270px;
    background-color: #fff;
    border-radius: 1.5rem;
    margin-top: 2rem;
}

.paste input{
    width: 350px;
    border: 1px solid rgba(50, 132, 255, 1);
    height: 2rem;
    margin-left: 2rem;
    margin-top: 2rem;
    border-radius: .5rem;

}

.paste input:hover,
 .choose input:active
{
    border: 1px solid rgba(50, 132, 255, 1);
}

.choose input{
    margin-left: 2rem;
    margin-top: 1rem;
    height: 2rem;
    border: 1px solid rgba(50, 132, 255, 1);
    border-radius: .5rem;
    
}

 .input-container input {
  color: rgba(50, 132, 255, 1);
  padding-left: 1rem;
 }


 input::placeholder{
    color: rgba(50, 132, 255, 1);
 }

 .trim{
    width: 18rem;
    margin-top: 1rem;
    margin-left: 5rem;
 }

 .choose p{
    color: rgba(50, 132, 255, 1);
    font-size: .8rem;
    margin-left: 2rem;
    margin-top: 2rem;
 }

 .choose span{
    font-weight: 700;
 }

 .faqs-container{
   width: 792px;
   height: 700px ;
   padding-left: 10rem;
    
 }

 .faqs-list {
    list-style: none;
 }


 .faqs-item-container,
 .url-para-info{
    display: flex;
    justify-content: space-between ;
    padding-bottom: 1rem ;
    margin: 2rem;
    border-bottom: 1px solid  rgba(214, 214, 214, 1);
    font-size: .8rem;
 }


 .url-para-info p{
   color: .7rem;
 }

 .url-faqs-heading{
    margin-top: 2rem;
    font-size: .8rem;
    margin-left: 2rem;
    margin-bottom: 0;
    font-weight: 400;
 }

 .url-para-info{
    margin-top: .3rem;
    font-size: .7rem;
 }

